<html>
<head>
<title>Alibabance</title>
    <link rel="icon" type="image/png" href="https://dynamic.brandcrowd.com/preview/logodraft/e57a4df1-4c96-4f64-adb4-5253f32efeed/image/large.png"/>
    <link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
</head>
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
<body onload="getProducts()">


<header>
           <img src="https://dynamic.brandcrowd.com/preview/logodraft/e57a4df1-4c96-4f64-adb4-5253f32efeed/image/large.png">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/panier">Panier</a></li>
                    <li><a href="/commandes">Commandes</a></li>
                    <li><a onclick="deconexion()">Deconnexion</a></li>
                </ul>
            </nav>
</header>

<div id="espace"> </div>


<div id="ProductContainer">


</div>


</body>
</html>