<html>
<head>
<title>Alibabance</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
</head>
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
<body onload="getProducts()">


<header>
           <img src="https://thumbs.dreamstime.com/b/internet-vector-flat-icon-go-to-web-sign-site-design-logo-app-ui-illustration-eps-123207369.jpg">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/panier">Panier</a></li>
                </ul>
            </nav>
</header>

<p><img src="..\static\smiley.gif" align=middle> Bonjour! Bienvenue sur votre page perso!</p>


<div id="ProductContainer">


</div>


</body>
</html>