<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alibabance</title>
    <link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
    <script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<body onload = SupprimerContenu()>
    <h1>
        Inscription
    </h1>

    <br id="newUserAccount">
        <input type="text" id="Nom" placeholder="Entrez votre nom"/>
        <input type="text" id="Prenom" placeholder="Entrez votre prenom"/></br>
        <input type="text" id="Age" placeholder="Entrez votre age"/>
        <input type="integer" id="Telephone" placeholder="Entrez votre telephone"/></br>
        <input type="text" id="Email" placeholder="Entrez votre mail"/>
        <input type="text" id="Password" placeholder="Entrez votre mot de passe"/></br>
        <button type="button" onclick="inscriptionButton()">Créez votre compte</button>
    </div>


    <a href="login">
    <button type="button"> Vous avez dejà un compte?</button>
</a>

    <div id="addUser-container">


    </div>

</body>
</html>