<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alibabance</title>
    <script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<body>
    <h1>
        Inscription
    </h1>

    <div id="newUserAccount">
        <input type="text" id="email-input" place holder="Entrez votre mail"/>
        <input type="text" id="newPassword-input" placeholder="Mot de passe"/>
        <button type="button" onclick="onButtonInscription()">Créez votre compte</button>
    </div>

    <div id="addUser-container">


    </div>

</body>
</html>