<html>
<head>
<title>Alibabance</title>
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
</head>
<body onload="SupprimerContenu()"> 

<p class="centre">Bonjour. Vous devez vous identifier.</p>
<form action="login" method="post">
<p>Votre courriel: <input type="text" id="email"><br>
Votre mot de passe: <input type="password" id="password">
</form>
<button onclick="login(email,password)">Identification</button>
<a href="inscription.html">
    <button type="button">Vous n'avez pas de compte?</button>
</a>

</body>
</html>

<script>
    let email = document.getElementById("email").value
    let password = document.getElementById("password").value
</script>


