<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
</head>
<body onload="chargerPanier()">
<header>
           <img src="https://thumbs.dreamstime.com/b/internet-vector-flat-icon-go-to-web-sign-site-design-logo-app-ui-illustration-eps-123207369.jpg">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/panier">Panier</a></li>
                    <li><a href="/commandes">commandes</a></li>
                    <li><a onclick="deconexion()">deconnexion</a></li>
                </ul>
            </nav>
</header>

<div id="titleInCart">
    <h1>Produits</h1>

</div>
<div id="containerInPanier"></div>
<div id="total">
    <h1> Total : &nbsp; </h1>
</div>
<div id="commandButton">
    <button onclick="ViderPanier()"> Vider </button>
    <button> commander </button>
</div>
</body>

</html>