<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
</head>
<body>
<header>
           <img src="https://thumbs.dreamstime.com/b/internet-vector-flat-icon-go-to-web-sign-site-design-logo-app-ui-illustration-eps-123207369.jpg">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/Panier">Panier</a></li>
                </ul>
            </nav>
</header>

<div> voici votre panier</div>
</body>
</html>