<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
<body onload="getTailleOfModel({{ infos[0][0] }})">

<div>
    <header>
           <img src="https://thumbs.dreamstime.com/b/internet-vector-flat-icon-go-to-web-sign-site-design-logo-app-ui-illustration-eps-123207369.jpg">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/panier">Panier</a></li>
                    <li><a href="/commandes">Commandes</a></li>
                    <li><a onclick="deconexion()">Deconnexion</a></li>
                </ul>
            </nav>
        </header>
</div>
<main>
      <section class="product">
         <div class="product-info">
            <h1>{{ infos[0][2] }}</h1>
             <img id="ProductPageImg" src="{{ infos[0][1] }}">
            <p>Couleur: {{ infos[0][3] }}</p>
            <p id="prix">Prix: {{infos[0][4] }} $</p>
             <form id="form" action="/action_page.php">
                 <p >Taille :</p>
                <select onchange="getPrixOfTaille()" name="tailles" id="tailles">
              </select>
</form>
             <div id="message"></div>
            <button onclick="ajouterProduitAuPanier()">Ajouter au panier</button>
         </div>
      </section>


   </main>
   <footer>
      <p>Copyright © 2023 Alibabance.</p>
   </footer>

</body>
</html>