<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/MonFichierStyle.css">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<script type="text/javascript" src="../static/MonFichierCode.js"></script>
<body >

<div>
    <header>
           <img src="https://thumbs.dreamstime.com/b/internet-vector-flat-icon-go-to-web-sign-site-design-logo-app-ui-illustration-eps-123207369.jpg">
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/panier">Panier</a></li>
                </ul>
            </nav>
        </header>
</div>
<main>
      <section class="product">
         <div class="product-info">
            <h1>Yeezy Slides</h1>
            <p>Couleur: Rouge</p>
            <p>Taille: 9.5</p>
            <p>Condition: En stock</p>
            <p>Prix: Valeur</p>
            <button>Ajouter au panier</button>
         </div>
      </section>
   </main>
   <footer>
      <p>Copyright © 2023 Alibabance.</p>
   </footer>

</body>
</html>